# requirements-dev.in

# Pull in the production dependencies so they are installed in the dev environment
-r ../requirements.in

# Testing Tools
pytest
pytest-mock
pytest-cov

# Linting & Formatting Tools
flake8
black